html, body {
    height: 100%;
}
body {
    margin: 0;
    font-size: 14px;
}
ul li .move-info {
	color: #c77405;
}
ul li .chat-name {
	color: #1c94c4;
}
#chat-message {
	width: 80%; 
	margin-left: 2%;
}
#event-history ul {
	list-style: none;
	padding: 0px;
}

#event-history ul li {
	border-top: 1px solid #D6D6D6;
	background-color: #FAFAFA;
	padding: 2px 0 2px 0;
	margin: 4px 10px 4px 10px;
}

#event-history {	
	width: 100%;
	margin-top: 2em;
	overflow: auto;
	background-color: #F2F2F2;
	box-shadow: 3px 3px 10px #DEDEDE;
	flex: 1;
}
/* Player "cards" representing the players */)
#event-history span {
	padding-left: 5px;
}
#player-black {
	flex: 1;
	color: white;
	background: linear-gradient(to bottom, #4B4B4B, #222222);
}
#player-white {
	background: linear-gradient(to bottom, #FAFAFA, #E8E8E8); !important /*Why do I need !important ?*/
}
.player-info {	
	width: 190px;
	margin: 2px 5px 2px 5px;
	height: 100px;
	text-align: center;
	border-radius: 5px;;
	border: 1px solid #CFCFCF;
	box-shadow: 2px 2px 7px #DEDEDE;
	font-family: "courier", monospace;
	font-weight: bold;


	/* this is used to animate changes on class */
	
	-webkit-transition: all 0.8s ease;
	-moz-transition: all 0.8s ease;
	-o-transition: all 0.8s ease;
	transition: all 0.8s ease;
}
/* This class is added with jquery to indiate active player */
.active-player {
	border: 1px solid #88F26D;
	box-shadow: 3px 3px 7px #88F26D;
}
.player-info h3 {
	font-size: 1em;
}
/* Cotaining the player cards */
#player-info-container {
	display: flex;
}
.column-right {
	flex: 1;
	display: flex;
	flex-direction: column;
	align-items: center;
  	justify-content: center;

  	margin-top: 1%;
}

.column-left {
	width: 400px;
	height: 90%;
	
	margin-top: 1%;
	margin-right: 30px;
	margin-left: 30px;
	
	display: flex;
	flex-direction: column;
  	
}

#search-box {
	margin-top: 3em;
	text-align:center ;
}
#game-container {
	width: auto;
	height:100%;
	display: flex;
}
#go-canvas {
	border-radius: 5px;
	box-shadow: 0 0 25px #787878;

}

#go-button-wrapper {
	text-align: center;
	flex: 1;
}

button, input[type=submit] {
	border-radius: 2px;
	border: 1px solid #cccccc;
	background-color: #f6f6f6;
	/*box-shadow: 2px 2px gray;*/
	font-size: 1em;
	color: #1c94c4;
	margin: 20px .5em;
}
button:hover, input[type=submit]:hover {
	border-color: #fbcb09;
	background-color: #fdf5ce;
	color: #c77405;
}
button:active, input[type=submit]:active {
	background-color: #ffffff;
}
button:disabled, input[type=submit]:disabled {
	border-color: #F7724D;
}
