{% extends "main_layout.html" %}
{% block body %}
    
    <script type="text/javascript" src="{{ url_for('static', filename='javascript/peer.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='javascript/go.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='javascript/draw.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='javascript/gui.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='javascript/network.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='javascript/controller.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='javascript/sgf_format.js') }}"></script>
    <script type="text/javascript">
      SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
    </script>
    
    <link rel="stylesheet" type="text/css" href=" {{ url_for('static', filename='css/go_style.css') }}">
  
  <div class="extend-content" id="search-box">
  	<h2>Search Game</h2>  
      <p id="search-text">Welcome! Press the search button to find an opponent</p>
      <!--
      <img id="search-wheel" src="{{ url_for('static', filename='images/wheel.gif') }}" alt="waiting">
      -->
      <form id="search-form" onsubmit="return false;">
        <input type="hidden" name="id" id="id" value="id-here">
        <input type="hidden" name="username" id="username" value="{{ username }}">
        <select name="size" id="size">
          <option value="9">9x9</option>
          <option value="13">13x13</option>
        </select>
        <button id="search-button">Search</button>
      </form>
  </div>
  <div id="game-container" style="display: none;">
      <div class="column-left">
        <div id="player-info-container">
          <div id="player-black" class="player-info">
            <h3><span id="black-name">{name}</span> as Black</h3>
            <p>Captures: <span id="black-captures">0</span></p>
          </div>
          <div id="player-white" class="player-info">
            <h3><span id="white-name">{name}</span> as White</h3>
            <p>Captures: <span id="white-captures">0</span></p>
          </div>
        </div>
        <div id="to-play">
          <h3><span id="color-to-play">Black</span> to play </h3>
        </div>
        <div id="event-history">
          <ul id="event-list">
          </ul>
        </div>
        <div id="chat-input-wrapper">
          <input type="textfield" id="chat-message" style="width: 80%; margin-left: 2%;">
          <button id="chat-send">Send</button>
        </div>
        <div id="go-button-wrapper">
          <button id="pass-button">Pass</button>
          <button id="resign-button">Resign</button>
          <button id="marking-button" title="?">Marking complete</button>
        </div>
        <div id="upload-form-container">
            <form id="paste-form" action="http://eidogo.com/backend/upload.php" method="post">
              <input type="hidden" name="type" value="paste">
              <input type="hidden" name="sgf" id="sgf"></textarea> <!-- pre entered game tree for test -->
              <input type="submit" id="upload-button" value="Upload" title="Will forward you to eidogo.com to review your game">
            </form>
          </div>
      </div>
      <div class="column-right">
        <div id="canvas-wrapper">
          <canvas id="go-canvas"></canvas>
        </div>  
      </div>
    </div>
    <audio id="click-sound">
      <source src="{{ url_for('static', filename='sound/click.mp3')}}" type="audio/mpeg">
    </audio>
    <img id="wood" src="{{ url_for('static', filename='images/wood_texture.jpg') }}" alt="woodboard" style="display: none;">
{% endblock %}