<!doctype html>
<title>Go-Game</title>
<!-- include jquery and jquery ui -->
<script type="text/javascript" src="{{ url_for('static', filename='javascript/jquery-2.1.4.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='jquery-ui-1.11.4.custom/jquery-ui.js') }}"></script>

<!-- jquery ui theme -->
<link rel="stylesheet" href="{{ url_for('static', filename='jquery-ui-1.11.4.custom/jquery-ui.theme.css') }}">
<!-- Webpage wide styling -->
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/main_style.css') }}">
<!-- google fonts -->
<link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>

<div class=page>
  <header>
    <a href="{{ url_for('main_view') }}"><h1>Go</h1></a>
    <nav>
    {% if not session.logged_in %}
      <a href="{{ url_for('login') }}">Log in</a>
    {% else %}
      <a href="{{ url_for('logout') }}">Log out</a>
    {% endif %}
      <a href=" {{ url_for('user_profile') }}">Profile</a>
      <a href=" {{ url_for('go_view') }}">Play</a>
      <a href="{{ url_for('show_friends') }}">Friends</a>
      <a href="">About</a>
    </nav>
  </header>
    {% for message in get_flashed_messages() %}
    <div class="flash ui-state-highlight">{{ message }}</div>
    {% endfor %}
    {% if error %}<p class="error ui-state-error"><strong>Error:</strong> {{ error }}{% endif %}
  <div class="content">
  {% block body %}{% endblock %}  <!-- This is used so I can extend and new content here called body -->
  </div>
</div>